<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 style="display: flex; justify-content: center">Пользователи</h1>
    <table class="ui table" th:if="${users}">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Роль</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="*{userId}"></td>
                <td th:text="*{account}"></td>
                <td th:text="*{firstName + ' ' + lastName}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{role}"></td>
                <td>
                    <a th:href="@{'changeRole/' + ${user.userId}}" >Сменить роль</a>
                    /
                    <a th:href="@{'delete/' + ${user.userId}}" >Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="ui message" th:unless="${users}">
        <div class="content">
            <div class="header">
                No users
            </div>
            <p>It's unexpected.</p>
        </div>
    </div>
</div>
</body>
</html>