<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Projects</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 style="display: flex; justify-content: center;">Проекты</h1>
    <br>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <a class="ui button" th:href="@{/projects/new}">Новый проект</a>
            <a class="ui button red" th:href="@{/projects/delete}">Удалить проект</a>
        </div>
        <div>
            <a class="ui button green" th:href="@{/projects/synchronize}">Синхронизация проектов с Jira</a>
        </div>
    </div>
    <table class="ui table" th:if="${projects}">
        <thead class="thead-dark">
        <tr>
            <th>Jira Project Key</th>
            <th>Project Name</th>
            <th>Project Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}" th:object="${project}">
            <td>
                <a th:text="*{jiraProjectKey}" th:href="@{'https://jira4cloud.atlassian.net/projects/' + ${project.jiraProjectKey}}" ></a>
            </td>
            <td>
                <a th:text="*{name}" th:href="@{'/projects/project/' + ${project.projectId}}" ></a>
            </td>
            <td th:text="*{description}">DUMMY AUTHOR</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>