<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title th:text="'Profile of user - ' + ${user.account}"></title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 style="display: flex; justify-content: center" th:text="'Profile of user - ' + ${user.account}"></h1>
    <br>
    <table class="ui table" th:if="${user}">
        <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${user}">
            <td th:text="*{account}">DUMMY SUBJECT</td>
            <td th:text="${user.firstName} + ' ' + ${user.firstName}">DUMMY SUBJECT</td>
            <td th:text="*{email}">DUMMY SUBJECT</td>
            <td th:text="*{role}">DUMMY SUBJECT</td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>

    <div class="container text-center" style="min-height: 75%">
        <h5 th:text="'Current username - ' + ${user.account}"></h5>
        <form method="post" action="/users/user/editUsername">
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">New username</label>
                <div class="col-sm-6">
                    <input type="text" required="required" name="account" class="form-control"/>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-6">
                    <input type="password" required="required" name="password" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <br>
        <br>

        <h5 th:text="'Current user email - ' + ${user.email}"></h5>
        <form method="post" action="/users/user/editEmail">
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">New email</label>
                <div class="col-sm-6">
                    <input type="email" required="required" name="email" class="form-control"
                           placeholder="example@example.com"/>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-6">
                    <input type="password" required="required" name="password" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <br>
        <br>

        <h5>Change password</h5>
        <form method="post" action="/users/user/editPassword">
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">Old password</label>
                <div class="col-sm-6">
                    <input type="password" required="required" name="oldPassword" class="form-control"/>
                </div>
            </div>
            <div class="form-group row justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">New password</label>
                <div class="col-sm-6 justify-content-center ">
                    <input type="password" required="required" name="newPassword" class="form-control"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>


</div>
</div>
</body>
</html>