<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Testcase</title>
<!--    <style>-->
<!--        .card-img-top{-->
<!--            transform: scale(0.9);-->
<!--        }-->
<!--        .card{-->
<!--            transform: scale(0.9);-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 style="display: flex; justify-content: center;" th:text="'Тесткейс - ' + ${testcase.name}">Testcase</h1>
    <br>
    <div class="container" th:switch="${inProgress}" >
        <div class="row" style="display: flex; justify-content: space-between;">
                <a class="ui button green" th:case="false"
                   th:href="@{'/testcases/testcase/start/' + ${testcase.testcaseId}}">Запуск</a>
                <span th:case="true">
        <a class="ui button green"
           th:href="@{'/testcases/testcase/passed/' + ${testcase.testcaseId}}">Успешно пройден</a>
        <a class="ui button red" th:href="@{'/issue/new/' + ${testcase.testcaseId}}">Произошла ошибка</a>
        </span>
                <a class="ui button blue" style="float: left" th:text="${inProgress} ? 'Запущен' : 'Не запущен'">
                </a>
        </div>
    </div>

    <div class="card mb-3" style="margin-top: 20px;">
        <div class="card-body">
            <h4 class="card-title">Название тесткейса: </h4>
            <p th:text="${testcase.name}" class="card-text" style="font-size: 12pt"></p>
        </div>
    </div>

    <div class="card-deck" >
        <div class="card">
            <img class="card-img-top" src="/images/description.png" >
            <div class="card-body">
                <h4 class="card-title">Описание:</h4>
                <p th:text="${testcase.description}" class="card-text" style="font-size: 12pt ; white-space: pre-line"></p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pre.png" >
            <div class="card-body">
                <h4 class="card-title">Пререквизиты:</h4>
                <p th:text="${testcase.prerequisites}" class="card-text" style="font-size: 12pt ; white-space: pre-line"></p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/steps.png" >
            <div class="card-body">
                <h4 class="card-title">Тестовые шаги:</h4>
                <p th:text="${testcase.testcaseSteps}" class="card-text" style="font-size: 12pt; white-space: pre-line"></p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="card mb-3" style="margin-top: 20px;">
        <div class="card-body">
            <h4 class="card-title">Ожидаемый результат:</h4>
            <p  th:text="${testcase.expectedResult}" class="card-text" style="font-size: 12pt"></p>
        </div>
    </div>
</div>
</body>
</html>