<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>Testcase</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 th:text="'Testcase - ' + ${testcase.name}">Testcase</h1>
    <div class="container" th:switch="${inProgress}">
        <div class="row">
            <div class="col-sm-8">
                <a class="ui button green" th:case="false"
                   th:href="@{'/testcases/testcase/start/' + ${testcase.testcaseId}}">Start</a>
                <span th:case="true">
        <a class="ui button green"
           th:href="@{'/testcases/testcase/passed/' + ${testcase.testcaseId}}">Testcase passed</a>
        <a class="ui button red" th:href="@{'/issue/new/' + ${testcase.testcaseId}}">Testcase failed</a>
        </span>
            </div>
            <div class="col-sm-4">
                <a class="ui button blue" style="float: left" th:text="${inProgress} ? 'In progress' : 'Not started'">
                </a>
            </div>
        </div>
    </div>
    <table class="ui table" th:if="${testcase}">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Expected Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${testcase}">
            <td th:text="*{testcaseId}">DUMMY ISSUE ID</td>
            <td th:text="*{name}">DUMMY SUBJECT</td>
            <td th:text="*{description}">DUMMY SUBJECT</td>
            <td th:text="*{expectedResult}">DUMMY SUBJECT</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>