<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>Home page</title>
</head>
<body style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(193,223,255,1) 0%, rgba(255,255,255,1) 100%);">
<div layout:fragment="content">
    <br>
    <div class="ui icon message">
            <i class="teal crosshairs icon"></i>
            <div class="content">
                <div class="header">
                    Welcome!
                </div>
                <p>Issue Analysis Support Application</p>
            </div>
    </div>
    <div class="row" ><img height="100%" width="100%" src="https://miamioh.edu/_files/images/it-services/news-articles/2017/08/dev-graphic.png"></div>
    <div class="container">
        <div class="row" style="display: flex; justify-content: space-between">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Create</div>
                <div class="card-body text">
                    <h5 class="card-title">Create test scenarios</h5>
                    <p class="card-text">Create scenarios and testcases for each project to use for testing purposes and bug reports.</p>
                </div>
            </div>
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Run</div>
                <div class="card-body text">
                    <h5 class="card-title">Run test case</h5>
                    <p class="card-text">Run testcases and don’t worry about collecting logs and recording information about the start time and end of the test.</p>
                </div>
            </div>
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Report</div>
                <div class="card-body text">
                    <h5 class="card-title">Report about bugs</h5>
                    <p class="card-text">Automatically generate bug reports with all the necessary information for analysis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>