<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Signup</title>
</head>
<body>
<div layout:fragment="content">
    <style>
        body {
            background-color: #DADADA;
        }
        .container > .grid {
            height: 100%;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal header">
                <div class="content">
                    Создание аккаунта
                </div>
            </h2>
            <form class="ui large form" method="post" th:action="@{/signup}">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="account" placeholder="Имя пользователя">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left input">
                                <input type="text" name="firstName" placeholder="Имя">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left input">
                                <input type="text" name="lastName" placeholder="Фамилия">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Пароль">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="email" placeholder="example@example.com">
                        </div>
                    </div>

<!--                    <div class="field">-->
<!--                        <div class="ui left icon input">-->
<!--                            <i class=""></i>-->
<!--                            <select name="role">-->
<!--                                <option value="admin">Administrator</option>-->
<!--                                <option value="developer">Developer</option>-->
<!--                                <option value="guest" selected>Guest</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <button type="submit" class="ui fluid large teal submit button">Регистрация</button>
                </div>

                <div class="ui error message"></div>

                <div class="ui message">
                    Уже есть аккаут?
                    <a th:href="@{/login}">Войти</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>