<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>New issue</title>
</head>
<body>
<div layout:fragment="content">
    <br>
    <br>
    <h1 style="display: flex; justify-content: center">Cоздание отчёта об ошибке</h1>
    <br>
    <form class="ui large form" method="post" th:action="@{/issue/newJiraIssueInternal}">
        <div class="field">
            <label>Название</label>
            <input type="text" name="subject" placeholder="Название"/>
        </div>
        <div class="field">
            <label>Описание</label>
            <textarea th:text="${ticketDescription}" name="description"></textarea>
        </div>
        <div class="field">
            <label>Шаги по настройке</label>
            <textarea th:text="${tc.prerequisites}" name="prerequisites"></textarea>
        </div>
        <div class="field">
            <label>Шаги для воспроизведения</label>
            <textarea th:text="${tc.testcaseSteps}" name="stepsToReproduce"></textarea>
        </div>
        <div class="field">
            <label>Ожидаемый результат</label>
            <input th:value="${tc.expectedResult}" readonly="readonly" type="text" name="expectedResult" placeholder="Expected result"/>
        </div>
        <div class="field">
            <label>Действительный результат</label>
            <input type="text" name="actualResult" placeholder="Actual result"/>
        </div>
        <span>
            <div class="field">
            <label>Начат в</label>
            <input th:value="${startDate}" type="text" name="startedOn" disabled placeholder="Started on"/>
        </div>
            <div class="field">
        <label>Закончен в</label>
        <input th:value="${endDate}" type="text" name="endedOn" disabled placeholder="Ended on"/>
        </div>
        </span>

        <div class="field">
            <span>
                <label>Стектрейс</label>
                <input class="ui button" style="margin-left: 50px" type="button" value="Вставить стектрейс"
                       th:data1="${startDate}"
                       th:onclick="javascript:getStackTrace(this.getAttribute('data1'));">
        <script>
            async function getStackTrace(startDate) {
                return axios.get('/public/stacktrace', {
                    params: {
                        startDate: startDate
                    }
                })
                    .then(response => {
                        document.getElementById("stacktrace").value = response.data;
                    })
            }
        </script>
            </span>
            <textarea id="stacktrace" name="stacktrace"></textarea>
        </div>

        <div class="field">
            <label>Keywords</label>
            <input type="text" name="keywords" placeholder="Ключевые слова (через запятую)"/>
        </div>
        <input type="hidden" name="testcaseId" th:value="${tc.testcaseId}"/>

        <button type="submit" class="ui primary button">Создать</button>
    </form>
</div>
</body>
</html>